body{
    background-color:rgb(225, 209, 184) ;
}

.divvvv{
    margin-left: 1300px;
}
.divvv{
    margin-left: 700px;
}    

.divvvvvvv{
    margin-left: 700px;
}
.divvvvv{
    margin-left: 700px;
}
.divvvvvvvv{
    margin-left: 1300px;
}